.bannerContainer {
  position: relative;
}

.subTitle {
  position: absolute;
  top: 34%;
  left: 55%;
  outline: 0;
  border: 0px;
  /*line-height: 1.75rem /* 28px */;
  font-family: 'Michroma', sans-serif;
  font-size: 5rem;
  color: rgb(252, 244, 233);
}

.button {
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 63%;
  padding: 20px 30px;
	outline: 0;
  font-family: 'Michroma', sans-serif;
  font-size: 2rem;
  color: rgb(252, 244, 233);
  border: solid 2px rgb(252, 244, 233);
  background-color: rgb(24, 23, 23) ;
}

.button:hover {
  background-color:rgb(252, 244, 233);
  color:black
}